<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <title>My app</title>
</head>

<body>
<p th:text="${person.getId()}"></p>
<p th:text="${person.getName()}"></p>
<p th:text="${person.getAge()}"></p>
<p th:text="${person.getEmail()}"></p>
<p th:text="${person.getAddress()}"></p>
<form th:method="GET" th:action="@{/show}">
    <input type="submit" value="Start page"/>
</form>
<br>
<form  th:action="@{/show/{id}/edit (id = ${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="DELETE" th:action="@{/show/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>